<html>

<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="big-container">
    <!-- Header -->
    <div class="header">
      <h1> LOW←TECH MAGAZINE </h1>
      <div class="subtitle"> This is a solar-powered website, which means it sometimes goes offline </div>
      <div class="menu">
        About |
        <span class="blue">Low-tech solutions</span> |
        <span class="red">High-tech problems</span> |
        <a href="/submit"><span style="color: blueviolet;">Add New</span></a>
      </div>
    </div>
    <!-- End of header -->

    <!-- Articles -->
    <div class="content">

      <!-- Featured article -->
      <% messages.forEach(function(message, index) { %>
        <% if (message.featured) { %>

          <a href="/article/<%=message._id%>">
            <div class="feature-container">

              <div class="text">
                <h2 class="article-title">
                  <%= message.articleTitle %>
                </h2>
                <p class="article-summary">
                  <%= message.articleSummary %>
                </p>
                <small class="article-date">
                  <%= message.date %>
                </small>
              </div>

              <% if (message.image) { %>
                <div class="image">
                  <img src="<%= message.image %>" />
                </div>
                <% } %>

            </div>
          </a>
          <% } %>
            <% }) %>

              <!-- End of featured article -->

              <!-- Grid of articles -->
              <div class="grid-container">


                <% messages.forEach(function(message, index) { %>

                  <% if (!message.featured) { %>
                    <div class="article">
                      <a href="/article/<%=message._id%>">
                        <div class="item">

                          <% if (message.image) { %>
                            <div class="image">
                              <img src="<%= message.image %>" />
                            </div>
                            <% } %>
                              <h2 class="article-title">
                                <%= message.articleTitle %>
                              </h2>
                              <p class="article-summary">
                                <%= message.articleSummary %>
                              </p>
                              <small class="article-date">
                                <%= message.date %>
                              </small>

                        </div>
                      </a>
                    </div>
                    <% } %>

                      <% }) %>


              </div>

    </div>

    <!-- Footer -->
    <div class="footer">
      <h2 class="footer-title">LOW←TECH MAGAZINE</h2>

      <div class="footer-menu">
        <div class="stats">
          <em>Server Stats</em> <br />
          Location: Barcelona <br />
          <span class="extra-credit">Server Time: 15:50 CET</span><br />
        </div>

        <div class="forecast">
          <em>Forecast</em> <br />
          <span class="extra-credit">today</span> <br />
          <span class="extra-credit">tomorrow</span> <br />
          <span class="extra-credit">day after tomorrow</span> <br />
        </div>

        <div class="info">
          <em>Info</em> <br />
          About the site <br />
          Power <br />
          Colophon <br />
          Donate <br />
          Privacy Policy <br />
        </div>

        <div class="contact">
          <em>Contact</em> <br />
          ©js12156 <br />
        </div>
      </div>

      <div class="page-size">
        <small class="extra-credit">Page size: 636KB</small>
      </div>
    </div>
    <!-- End of footer -->

  </div>
</body>

</html>